@use "../../index" as *;

.hero {
  position: relative;
  background: #004020;
  background: linear-gradient(
    1deg,
    rgba(0, 64, 32, 1) 15%,
    rgba(0, 166, 82, 1) 100%
  );
  overflow: hidden;
  min-height: 90vh;
  .coffee-tree-img {
    position: absolute;
    top: 20%;
    right: -160px;
  }
  .hero-image {
    height: 100%;
    width: 330px;
    z-index: 1;
  }
}

.hero-feature-container {
  background-color: var(--primary);
  position: relative;
  &::before {
    content: "/";
    background-image: url("/assests/images/banner_wave.png");
    // background-image: url("/assests/images/wave.svg");
    background-size: cover;
    width: 100%;
    height: auto;
    // height: 300px;
    position: absolute;
    bottom: 0;
  }

  .hero-feature-card {
    background-color: #005e2f;
    border-radius: 16px;
    color: #fff;
  }
}
